# Keep .github directory for project documentation
# Remove the following line to track GitHub workflows and project docs
.github/
venv/
__pycache__/
*.pyc
.DS_Store
node_modules
L2CSNet_gaze360.pkl
package-lock.json
yolov8n.pt